* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}

:root {
  /* Colours Variables */
  --bg-color: black;
  --primary-text-color: white;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #2a2a2a;
  --delete-color: #ff4d4d;

  /* Spacing Variables */
  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-sm: 5px;
  --padding-md: 10px;
  --padding-lg: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* Border-Radius Variables */
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 30px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: var(--padding-sm);
  padding-top: var(--padding-xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}
nav button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-lg) var(--padding-xl);
  cursor: pointer;
  border-radius: var(--border-radius-xl);
  font-size: var(--padding-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
}
nav button i{
  font-size: var(--padding-xl);
  line-height: 1;
}
nav .left {
  font-size: var(--padding-xl);          
}

section {
  flex-grow: 1;
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  gap: var(--padding-xxl);
}
section .task-column {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  width: 100%;
  padding: var(--padding-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  border-radius: var(--border-radius-xl);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
section .task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.03;
}
section .task-column .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-sm);
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
}
section .task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-xl);
  border-radius: var(--border-radius-xl);
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  cursor: grab;
}
section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-sm);
  border: none;
  outline: none;
  background-color: var(--delete-color);
  color: var(--primary-text-color);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  scale: 1.4;
}
.modal.active {
  display: flex;
}
.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(61, 61, 61, 0.404);
  backdrop-filter: blur(5px);
}
.modal .center {
  background-color: var(--bg-button-color);
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  z-index: 10;
}
.modal .center input,
.modal .center textarea,
.modal .center select {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-md);
  border-radius: var(--border-radius-sm);
}
.modal .center button {
  margin-top: var(--padding-md);
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-md) var(--padding-lg);
  cursor: pointer;
  border-radius: var(--border-radius-sm);
  width: fit-content;
  align-self: center;
}
